/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* NameStat */
.name-stat-wrap {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

#search-name-place-holder {
  font-family: ns-r;
  font-size: 15px;
}

#namestat-form {
  width: 100%;
}

/* NameStat Table */
.name-tbl-wrap {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #131722;
  color: white;
}

.name-tbl-wrap > table thead th {
  background-color: var(--main_01);
  color: var(--gray_08);
  padding: 10px;
  font-family: ns-r;
  font-weight: 400;
  font-size: 14px;
}

tbody td {
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #1c2431;
}

tbody tr:hover {
  background-color: #2f3b4f;
  cursor: pointer;
  color: #00f285;
}

.name-png {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.name-png * {
  margin: 0 13px;
}

.nameRank,
.nameCount {
  text-align: center;
}

.name-png img {
  width: 40px;
  border-radius: 20px;
}

.name-stat-title {
  text-align: center;
  margin-bottom: 20px;
}

/* NameCompatibility */
.name-compatibility-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.name-compatibility-input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.name-compatibility-input-wrap span {
  padding: 0 15px;
}

#search-name {
  font-family: ns-r;
  font-size: 16px;
  text-align: center;
}

.name-compatibility-title {
  text-align: center;
}

form {
  height: 45px;
}

.name-compatibility-result {
  margin-top: 30px;
  border-top: 1px dashed rgb(104, 104, 104);
  padding-top: 20px;
  text-align: center;
}

.name-compatibility-result img {
  width: 80%;
}

.name-compatibility-result h3 {
  text-align: center;
}

.main-wrap h3 {
  text-align: center;
}

.main-wrap p {
  color: rgb(182, 182, 182);
  font-size: 15px;
}

/* Realtime Rank */
.realtime-rank {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.realtime-rank > div:first-child {
  display: flex;
  justify-content: left;
  align-items: center;
}

.realtime-rank span {
  display: inline-block;
  padding-right: 5px;
  font-size: 12px;
  color: var(--gray_06);

  margin-right: 5px;
  margin-left: 5px;
}

.name-six {
  font-size: 14px;
}

.name-seven {
  font-size: 13px;
}

.name-eight {
  font-size: 11px;
}

.time * {
  text-align: center;
  line-height: 1.8em;
}

h3 {
  margin-bottom: 10px;
}

#name-luck-btn {
  background-color: #02884b;
}

@media screen and (min-width: 460px) {
  .realtime-rank span {
    font-size: 15px;
  }
}

.luck-img {
  margin: 5px 0;
}

.luck-title {
  margin-bottom: 5px;
}

.sub-title {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 500;
}

.test-result {
  text-align: left;
}

.realtime-keyword {
}
/* NameDetail */

.profile-container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.profile-image {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.profile-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-details {
  flex: 2;
  padding: 20px;
}

.profile-details .sub-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-details p {
  margin: 10px 0;
  font-size: 14px;
}

.animal-detail-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
.profile-details-comment p {
  font-size: 15px;
  line-height: 1.8em;
}

.profile-details-comment {
  padding: 0 20px;
}

.realtime-title {
  position: relative;
  display: inline-block;
}

.realtime-keyword-wrap {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  width: 61%; /* Adjust width as needed */
}

.realtime-keyword-container {
  display: inline-block;
  animation: moveLeft 10s linear infinite; /* Reduced the duration to 5s */
  width: max-content;
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #343541;
  border-radius: 8px;
  min-height: 410px;
  margin: 0 auto;
  overflow: hidden;
  justify-content: space-between;
  width: 90%;
  margin-top: 50px;
}
.nav-bar {
  flex: 0 0 40px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar a {
  color: #6b6c7b;
  white-space: nowrap;
  margin-left: 10px;
  user-select: none;
}

.chat-close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.sender-area {
  background-color: #343541;
  width: 100%;
  height: 70px;
  display: flex;
  border-radius: 8px;
  justify-content: center;
}

.message {
  display: flex;
  flex-direction: column; /* 수직으로 쌓이도록 설정 */
  align-items: flex-start; /* 왼쪽 정렬 */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #40414f;
  border-radius: 5px;
}

.messages-area {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
  padding: 20px;
  width: 100%;
  font-size: 14px;
  scrollbar-color: #2c2d35 #343541; /* Firefox */
}

.send-img {
  width: 30px;
}

.send-input {
  outline: none;
  display: flex;
  border: none;
  background: none;
  height: 40px;
  padding: 10px;
  width: 90%;
  border-radius: 7px;
  background: none;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.send-input::placeholder {
  color: #828e9e;
}

.input-place {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  align-items: center;
  background-color: #40414f;
  border-radius: 7px;
  height: 40px;
  width: 90%;
  gap: 5px;
  border: 1px solid #2e2f3a;
}

.send {
  width: 30px;
  height: 30px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.send-icon {
  width: 17px;
}

#chat-nav-bar * {
  color: rgb(151, 151, 151);
}

.message-content {
  font-size: 14px;
  word-break: break-word; /* 단어가 길 경우 줄바꿈 */
}

.message-date {
  font-size: 12px;
  margin-top: 5px; /* 날짜와 메시지 내용 사이의 간격 추가 */
  color: rgb(126, 126, 126);
}

/* margin-left: auto; */

.chat-title {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  border-bottom: 1px dotted gray;
  padding-left: 10px;
}

.chat-img {
  width: 15%;
  padding: 10px;
  border-radius: 30px;
}

.chat-title span {
  margin-left: 5px;
}

.swal2-title {
  font-size: 16px; /* Adjust font size as needed */
}
.swal2-popup {
  font-size: 12px; /* Adjust font size as needed */
}

.detail-btn-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.detail-another-animal-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-another-animal-btn * {
  padding: 0 10px;
}

#name-detail-back-btn {
  width: 30%;
  background-color: transparent;
  color: rgb(175, 175, 175);
  font-size: 14px;
}
.messages-area::-webkit-scrollbar {
  width: 8px;
}

.messages-area::-webkit-scrollbar-track {
  background: #343541;
  border-radius: 10px;
}

.messages-area::-webkit-scrollbar-thumb {
  background-color: #2e2f3a;
  border-radius: 10px;
  border: 2px solid #343541; /* padding around thumb */
}

/* 세련된 버튼 스타일링 */
.styled-button {
  background: linear-gradient(145deg, #131722, #1c2431);
  color: white;
  border: 2px solid #1c2431;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 10px #0e121a, -4px -4px 10px #181c2a;
}

.styled-button:hover {
  background: linear-gradient(145deg, #1c2431, #2f3b4f);
  transform: translateY(-2px);
  box-shadow: 6px 6px 15px #0e121a, -6px -6px 15px #181c2a;
}

.styled-button:active {
  background: linear-gradient(145deg, #131722, #1c2431);
  transform: translateY(0);
  box-shadow: 4px 4px 10px #0e121a, -4px -4px 10px #181c2a;
}

.styled-button-icon {
  margin-right: 10px;
  font-size: 20px;
}

#compatibility-score-title {
  color: #00f285;
}

.share-btn {
  display: flex;
  justify-content: space-evenly;
}

#compatibility-ready {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.compatibility-ready-number {
  color: #00f285;
  font-weight: 600;
}

.name-compatibility-result img {
  margin: 50px 0;
  border-radius: 50%;
}

#luck-ready {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

/* 로딩 대기 화면 우주 -- 버스 --*/

.loader {
  /* width: fit-content; */
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #b1b1b1;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}

.messages-area {
  height: 300px; /* 적절한 높이로 설정하세요 */
  overflow-y: scroll;
  overflow-x: hidden; /* 가로 스크롤이 필요 없도록 설정 */
}
